.article{
    display:grid;
    grid-template-columns: 360px auto;
    gap:20px;
    padding-top:40px;
    padding-bottom:10px;
    border-top: .5px solid var(--dark-gray);
    img{
        border-radius: 10px;
    }
    h3{

    }
    p{

    }
    span{

    }
}