.header {
    display: grid;
    grid-template-columns: 80px auto;
    width:100%;
    margin:var(--gap) auto;
    .logo{
        background-image: url('/images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width:80px;
        height:80px;
    }
    nav{
        display:grid;
        align-items: center;
        justify-content: end;
        grid-template-columns: inherit;
    }
}