.project {
    display: flex;
    flex:2;
    margin-bottom:50px;
    @media only screen and (max-width: 600px) {
        display: block;
    }
    &:nth-child(2n){
        .description{
            order: 1;
        }
        .image{
            order:2
        }
    }
    .description{
        padding: 0 100px 0 50px;
        flex:1;
        order:2;
        @media only screen and (max-width: 600px) {
            padding: 20px 20px 0 20px;
        }
    }
    .image{
        flex:1;
        order:1
    }
    .Link{
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
    }
}