* {
    margin: 0;
    padding: 0;
    border: 0;
  
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
  
  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    font-size: var(--fs-base);
  }
  
  body {
    overflow-x: hidden;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    background-color: var(--c-theme);
    color: var(--gray);
    cursor:none;
  }
  ::selection {
    color: var(--gray);
    background-color: var(--c-highlight);
  }
  b,
  strong,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--fw-bold);
    margin-bottom: var(--gap);
  }
  
  p{
    line-height: var(--p-line-height);
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  :focus {
    outline-color: var(--c-highlight);
    outline-offset: 0.2rem;
  }
  
  section  {
    margin-top: 40px;
  }

  
  button {
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--c-default);
    font: inherit;
    display: inline-flex;
    align-items: center;
  }
  
  .container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 24px);
    &.--auto-height{
      min-height: auto;
    }
    @media only screen and (max-width: 600px) {
      padding: 0 20px;
    }
  }
  .buttons{
    gap:20px;
    margin:30px auto;
    @media only screen and (max-width: 600px) {
      r-cell{
        align-content: center;
      }
    }
  }
  .wrapper-c{
    width:100%;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    @media only screen and (max-width: 600px) {
      position:relative;
      transform: none;
      top:0;
    }
  }

  
  .sticky{
    position:sticky;
    top:20px;
    margin-top:40px;
  }
  .article-box{
    margin-bottom:50px;
  }